node_modules/
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.env
.env.local
.env.production
expo-env.d.ts
npm-debug.*
yarn-error.*
.DS_Store
Thumbs.db
*.log
coverage/
.idea/
.vscode/
*.zip
*.apk
*.aab
